<div class="ui segment">
  <h2>Les commandes</h2>
  <ul>
    {{#each @model.orders as |order|}}
      <ul>
        <LinkTo @route="order" @model={{order.id}}>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        </LinkTo>
      </ul>
    {{/each}}
  </ul>
</div>